<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Sıfırla</ion-button>
    </ion-buttons>

    <ion-title>
      Kategoriyalar
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Tamam</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-item *ngFor="let cat of categories" [attr.track]="cat.name | lowercase">
      <ion-icon *ngIf="ios" slot="start" [name]="cat.icon" color="medium"></ion-icon>
      <ion-label>{{cat.name}}</ion-label>
      <ion-checkbox [(ngModel)]="cat.isChecked"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Hamısını sil</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Hamıısını seç</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
