<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">Yazılar</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="getPosts(0)"
      (ionCancel)="showSearchbar = false" placeholder="Axtarış"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
    <ion-col size="12" offset="0" size-lg="4" offset-lg="4" size-md="6" offset-md="3">
      <ion-card class="post-card">
        <ion-item lines="none" class="post-item">
          <ion-button class="post-some" color="light">
            <ion-input type="text" name="postText" [(ngModel)]="createPostText" placeholder="Nə probleminiz var? Yazın"
              class="post-some-title"></ion-input>
          </ion-button>
          <ion-buttons slot="end">
            <ion-button color="medium">
              <ion-icon slot="icon-only" name="image-outline"></ion-icon>
            </ion-button>
            <ion-button color="medium" (click)="createPost()">
              <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Yazılar</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar [(ngModel)]="queryText" (ionChange)="getPosts(0)" placeholder="Axtarış"></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-list #postList *ngIf="postDatas.length">
        <ion-item-sliding *ngFor="let post of postDatas;let i =index;" #slidingItem>
          <ion-item>
            <app-post [post]="post" (onRemove)="deletePost(i)"></app-post>
          </ion-item>
          <ion-item-options>
            <ion-item-option *ngIf="!user.hasFavorite(post.id)" color="favorite"
              (click)="addFavorite(slidingItem, post)">
              SAXLA
            </ion-item-option>
            <ion-item-option color="danger" *ngIf="user.hasFavorite(post.id)"
              (click)="removeFavorite(slidingItem, post, 'Yaddaşdan sil')">
              POZ
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list-header *ngIf="!postDatas.length">
        YAZI TAPILMADI
      </ion-list-header>
    </ion-col>
  </ion-row>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
